main {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  width: 100%;
  height: calc(100vh - 60px);
  margin-top: 60px;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main .main-intro h1 {
  font-size: 56px;
  line-height: 66px;
}

main p {
  font-size: 18px;
  line-height: 30px;
}

main a {
  display: block;
  width: fit-content;
  margin-top: 30px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--site-color-01);
}

main a:hover,  .index-about-text a:hover{
  background-color: var(--site-color-01-hover);
}

main .main-quotes p {
  margin: 40px 0;
  padding-left: 20px;
  border-left: 4px solid var(--site-color-01);
}

main .main-quotes p:nth-child(2) {
  margin-left: 30px;
}

main .main-intro {
  padding-bottom: 4vh;
}

/* CATEGORY SECTION*/
.index-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
}

.index-category p {
  flex-basis: 100%;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  color: #111;
}

.index-category-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.index-category-box:nth-of-type(1) {
  background-image: url(img/code.jpg);
}

.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.3;
  transition: All ease-in-out 200ms;
  border-radius: 20px;
  background-color: #1a253a;
}

.index-category-box:hover .dark-overlay {
  opacity: 0.7;
}

.index-category-box h3 {
  line-height: 28px;
  text-align: center;
  text-shadow: -2px 2px 4px #000;
  font-size: 22px;
  z-index: 100;
}

/* ABOUT SECTION */
.index-about {
  width: 100%;
  padding: 60px 0;
  background-color: #1a253a;
}

.index-about-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.index-about-img img {
  width: 300px;
  border-radius: 300px;
}

.index-about-text {
  flex-basis: 455px;
}

.index-about-text p {
  padding: 20px 0;
}

.index-about-text a {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--site-color-01);
}

.index-about-skill {
  flex-basis: 350px;
}

.index-about-skill-bar {
  width: calc(100% - 8px);
  height: 20px;
  border: 4px solid #0b0f16;
}

.index-about-skill-bar-fill {
  height: 100%;
  background-color: var(--site-color-01);
}

.htmlcss {width: 95%;}

.js {width: 75%;}

.py {width: 85%;}

.ai {width: 20%;}

.php {width: 15%;}

.cs {width: 55%;}
